---
layout: default
---
<article itemscope itemtype='http://schema.org/VideoObject'>
  <header>
	  <h2 itemprop='name'>{{ page.title }}</h2>
	  <time itemprop='uploadDate' content='{{ page.date }}'>
	    {{ page.date | date: '%d %B %Y'}}
	  </time>
	</header>
	<section class='video-wrapper'>
		<iframe src='http://www.youtube.com/embed/{{ page.youtube_id }}'
		        itemprop='embedUrl'
		        frameborder='0'
		        allowfullscreen >
		</iframe>
	</section>
	<section class='description' itemprop='description'>
  	{{ content }}
  </section>
</article>
